<aside id="aside" class="app-aside hidden-xs bg-white">
    <div class="aside-wrap" id="sidebar">
        <div class="navi-wrap">
            <!-- nav -->
            <nav ui-nav class="navi clearfix" id="leftmenuinnerinner">
                <ul class="nav">
                    <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>NAVIGATION</span>
                    </li>
                    <li> <a href="/ro-dashboard" class="active"> <i class="glyphicon glyphicon-th-large"></i>
                            <span>Dashboard</span> </a> </li>

                    <li> <a href="/ro-list-view-pfa"> <span>List view RO</span> </a> </li>
                    <!-- <li> <a href="/ddm-list"> <span>List view DDM</span> </a> </li>
                    <li> <a href="/pfa-list"> <span>List view PFA</span> </a> </li> -->

                    <!-- <li> <a href class="auto"> <span class="pull-right text-muted"> <i class="fa fa-fw fa-angle-right text"></i> <i class="fa fa-fw fa-angle-down text-active"></i> </span> <i class="fa fa-car"></i> <span>List</span> </a>
            <ul class="nav nav-sub dk">
              <li> <a href="/list"> <span>List One</span> </a> </li>
              <li> <a href="/list2"> <span>List Two</span> </a> </li>
            </ul>
          </li> -->
                    <!-- <li> <a href class="auto"> <span class="pull-right text-muted"> <i class="fa fa-fw fa-angle-right text"></i> <i class="fa fa-fw fa-angle-down text-active"></i> </span> <i class="fa fa-car"></i> <span>Form</span> </a>
            <ul class="nav nav-sub dk">
              <li> <a href="/form"> <span>Form One</span> </a> </li>
              <li> <a href="/form2"> <span>Form Two</span> </a> </li>
            </ul>
          </li> -->
                    <!-- <li class="line dk"></li>
          <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>MOVEMENTS</span> </li> -->



                    <!-- <li> <a href="#"> <i class="fa fa-road"></i> <span>Vehicle Movement</span> </a> </li>
          <li> <a href="#"> <i class="fa fa-male"></i> <span>Driver Movement</span> </a> </li>
          <li> <a href="#"> <i class="fa fa-users"></i> <span>Staff Movement</span> </a> </li>
          <li class="line dk"></li>
          <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>FUEL</span> </li>
          <li> <a href="#"> <i class="fa fa-file-text"></i> <span>Generate Fuel Slip</span> </a> </li>
          <li> <a href="#"> <i class="fa fa-tachometer"></i> <span>Fuel Pumps </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-arrows-h"></i> <span>Fix Fuel points</span> </a> </li>
          <li class="line dk"></li> -->

                    <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>USER PROFILE</span>
                    </li>
                    <li> <a href="/ro-profile"> <i class="fa fa-user"></i> <span>Profile </span> </a> </li>
                    <!-- <li> <a href="#"> <i class="fa fa-lock"></i> <span>Update Password </span> </a> </li> -->
                    <li class="line dk"></li>

                    <!-- <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>BUSINESS INTELLIGENCE</span> </li>
          <li> <a href="#"> <i class="fa fa-car"></i> <span>Vehicle Stock </span> </a> </li>
          <li> <a href="#" class="nav-link-render"> <i class="fa fa-bar-chart-o"></i> <span>Vehicle Sales </span> </a> </li>
          <li> <a href="#" class="nav-link-render"> <i class="fa fa-cab"></i> <span>Demo Vehicle </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-filter"></i> <span>Fuel Consumption </span> </a> </li>
          <li class="line dk"></li> -->

                    <!-- <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>SYSTEM CONFIGURATION</span> </li>
          <li> <a href="#"> <i class="fa fa-home"></i> <span>Stockyard </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-flag"></i> <span>Showroom </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-tint"></i> <span>Body Shop </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-magic"></i> <span>Work Shop </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-magic"></i> <span>Vehicle Model</span> </a> </li>
          <li> <a href="#"> <i class="fa fa-magic"></i> <span>Vehicle Color</span> </a> </li>
          <li> <a href="#"> <i class="fa fa-users"></i> <span>Personnel </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-user"></i> <span>Driver </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-user"></i> <span>Staff </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-user"></i> <span>Dealer </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-hdd-o"></i> <span>Fleetware Device </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-mobile"></i> <span>Mobile Device </span> </a> </li>
          <li class="line dk"></li> -->

                    <!-- <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>GLOBAL SETTINGS</span> </li>
          <li> <a href="/users"> <i class="fa fa-users"></i> <span id="side_users">Users </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-key"></i> <span>Roles &amp; Permisssion </span> </a> </li>
          <li> <a href="#"> <i class="fa fa-globe"></i> <span>Geographical Setting </span> </a> </li>
          <li> <a href class="auto"> <span class="pull-right text-muted"> <i class="fa fa-fw fa-angle-right text"></i> <i class="fa fa-fw fa-angle-down text-active"></i> </span> <i class="fa fa-file-text"></i> <span>Reports</span> </a>
            <ul class="nav nav-sub dk">
              <li> <a href="#"> <span>Model Reports</span> </a> </li>
              <li> <a href="#"> <span>Stock Reports</span> </a> </li>
              <li> <a href="#"> <span>Fuel Reports</span> </a> </li>
              <li> <a href="#"> <span>Pump Wise Report</span> </a> </li>
              <li> <a href="#"> <span>Movement Report</span> </a> </li>
            </ul>
          </li>
          <li class="line dk"></li> -->

                    <li class="hidden-folded padder m-t m-b-sm text-muted font-bold text-10"> <span>LOGOUT</span> </li>
                    <li> <a href="#"> <i class="fa fa-power-off"></i> <span>Logout </span> </a> </li>
                    <li class="line dk"></li>
                </ul>
            </nav>
            <!-- nav -->
            <!-- aside footer -->
            <div class="aside-footer wrapper-sm poppins">
                <div class="text-center-folded text-center">
                    <p class="hidden-folded text-xs m-b-xs">
                        Need help ?
                        <a href="https://www.troology.com/" target="_blank" class="font-weight-600">Contact us</a>
                    </p>
                    <p class="hidden-folded text-xs m-b-md">
                        <a href="https://www.troology.com/" target="_blank"><i class="fa fa-bug"></i> Report a bug?</a>
                    </p>
                    <img src="../../assets/img/red.png" class="center-block img-responsive m-b-xs" width="75px" />

                    <hr style="margin: 10px 0;" />
                    <p class="hidden-folded text-10 text-muted font-weight-600 text-uppercase m-b-xs">
                        <a href="">Support Manual</a>
                    </p>
                    <p class="hidden-folded text-10 text-muted font-weight-600 text-uppercase m-b-xs">
                        <a href="">Copyright Information</a>
                    </p>
                </div>
            </div>
            <!-- / aside footer -->
        </div>
    </div>
</aside>